body{
    background: #F9F9F9;
}
#menu{
    /* menu */


position: absolute;
width: 100%;
height: 10%;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img{
    /* Logo  */
position: absolute;
width: 8%;
height: 100%;
left: 1%;
top: 0px;
}


#menu {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
#menu a {
    float: left;
    color: #5C5C5C;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 85%;
    width: 10%;
    padding: 12px 0;
   
}
#menu span{
    font-size: 40px;
}
#menu a {
    margin-bottom: 100%;
    position: relative;
}
  
#menu a:hover {
    
    color: black;
}
  
#menu a.active {
    
    color: #983056;
}

#menu input{
    /* Search box */

   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   
   position: absolute;
   width: 21%;
   height: 20px;
   left: 75.8%;
   top: 20px;
   background: rgba(241, 241, 241, 0.9);
   border-radius: 20px;
}